.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.env
.DS_Store
*.pem
*.key
*.pfx
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
